In [1]:
import os
import sys 
import pandas as pd 
import seaborn as sns

In [2]:
sys.path.append("../")
sys.path.append("../../")

In [3]:
path = "/scratch/work/koutchc1/datasets/falconcode/falconcode_v1_table_problems_updated.csv"
df = pd.read_csv(path, index_col=0)
df

,id,course_id,type,exam,prompt,testcase,max_score,input_str,input_cast,output,...,loop_nested,stat_calculate,file_read,file_write,list,list_2d,dictionary,item_set,tuple,skeleton
0,a3_3_animals,2,skill,1,<div>\n<p>&nbsp;</p>\n<p><strong>PROBLEM STATE...,"from cs110 import autograder\r\nimport random,...",100,0,0,1,...,0,0,0,0,1,0,0,0,0,# AUTOGRADER IMPORT REMOVED\n\n# -------------...
1,a3_1_cargo,2,skill,1,<div>\n<p>&nbsp;</p>\n<p><strong>PROBLEM STATE...,"from cs110 import autograder\nimport random, m...",100,0,1,1,...,0,0,0,0,1,0,0,0,0,NaN
2,a3_3_games,2,skill,1,<div>\n<p>&nbsp;</p>\n<p><strong>PROBLEM STATE...,"from cs110 import autograder\r\nimport random,...",100,0,0,1,...,0,0,0,0,0,0,0,0,0,# AUTOGRADER IMPORT REMOVED\n\n# -------------...
3,a3_4_heights,2,skill,1,<div>\n<p>&nbsp;</p>\n<p><strong>PROBLEM STATE...,"from cs110 import autograder\r\nimport random,...",100,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
4,pex3,2,project,0,"<div>\n <h2 style=""text-align: center;"">Com...","from cs110 import autograder\r\nimport random,...",0,0,0,1,...,1,0,0,0,1,1,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656,a1_1_icbm,4,skill,1,<div>\n<p>&nbsp;</p>\n<p><strong>PROBLEM STATE...,"#import cs110,\r\nimport random, math\r\nfrom ...",100,1,1,0,...,0,0,0,0,0,0,0,0,0,NaN
657,a1_1_dorms,4,skill,1,<div>\n<p>&nbsp;</p>\n<p><strong>PROBLEM STATE...,"from cs110 import autograder\nimport random, m...",100,1,1,0,...,0,0,0,0,0,0,0,0,0,NaN
658,a1_1_cadet,4,skill,1,<div><strong>PROBLEM STATEMENT:<br></strong></...,"#import cs110,\r\nimport random, math\r\nfrom ...",100,1,1,0,...,0,0,0,0,0,0,0,0,0,NaN
659,a1_1_bases,4,skill,1,<div>\n<p>&nbsp;</p>\n<p><strong>PROBLEM STATE...,"from cs110 import autograder\r\nimport random,...",100,1,1,0,...,0,0,0,0,0,0,0,0,0,NaN
660,a1_1_aircraft,4,skill,1,<div>\n<p>&nbsp;</p>\n<p>Write the Python code...,"#import cs110,\r\nimport random, math\r\nfrom ...",100,1,1,0,...,0,0,0,0,0,0,0,0,0,NaN

In [4]:
from markdownify import markdownify as md
import html2text

text_maker = html2text.HTML2Text()
text_maker.ignore_links = True
text_maker.bypass_tables = False
text_maker.ignore_tables = True

In [5]:
print(df.prompt.iloc[6])

<div>
<p><strong>PROBLEM STATEMENT:<br /></strong>Write a program that asks the user for the area of three plots of land.</p>
<ul>
<li>The first area will be provided to you in ACRES</li>
<li>The second area will be provided to you in SQUARE MILES (1 Acre = 0.0015625 Sq Miles)</li>
<li>The third area will be provided to you in SQUARE KILOMETERS</li>
</ul>
<p>Your program will output "Plot X is the biggest", replacing X with either a 1, 2, or 3 depending on if the first, second, or third plot of land is the biggest, respectively. For this problem, you may assume that the plots are all different sizes (e.g., no two plots will be the same size)</p>
<p><strong>NOTES:</strong></p>
<ul>
<li><strong>1 acre = 0.0015625 square miles</strong></li>
<li><strong>1 sq kilometer = 0.386102 square miles</strong></li>
</ul>
<p><strong>EXAMPLES:</strong></p>
<table border="1" width="1">
<tbody>
<tr>
<td><strong>EXAMPLE 1</strong></td>
<td><strong>EXAMPLE 2</strong></td>
</tr>
<tr>
<td><strong>Inputs</strong></td>
<td>
<p>35<br />0.25<br />1</p>
</td>
<td>
<p>150<br />1<br />2.2</p>
</td>
</tr>
<tr>
<td><strong>Expected Output</strong></td>
<td>Plot 3 is the biggest</td>
<td>Plot 2 is the biggest</td>
</tr>
</tbody>
</table>
</div>

In [6]:
s = """
<table border="1" width="1">
<tbody>
<tr>
<td><strong>EXAMPLE 1</strong></td>
<td><strong>EXAMPLE 2</strong></td>
</tr>
<tr>
<td><strong>Inputs</strong></td>
<td>
<p>35<br />0.25<br />1</p>
</td>
<td>
<p>150<br />1<br />2.2</p>
</td>
</tr>
<tr>
<td><strong>Expected Output</strong></td>
<td>Plot 3 is the biggest</td>
<td>Plot 2 is the biggest</td>
</tr>
</tbody>
</table>""".strip()

In [7]:
tdf = pd.read_html(s)[0]
tdf = tdf.fillna("")
tdf = tdf.rename( columns={'Unnamed: 0':''})
tdf

                 0                      1                      2
0        EXAMPLE 1              EXAMPLE 2
1           Inputs              35 0.25 1              150 1 2.2
2  Expected Output  Plot 3 is the biggest  Plot 2 is the biggest

In [8]:
print(tdf.to_csv(header=None))

0,EXAMPLE 1,EXAMPLE 2,
1,Inputs,35 0.25 1,150 1 2.2
2,Expected Output,Plot 3 is the biggest,Plot 2 is the biggest

In [9]:
print(tdf.to_string())

                 0                      1                      2
0        EXAMPLE 1              EXAMPLE 2
1           Inputs              35 0.25 1              150 1 2.2
2  Expected Output  Plot 3 is the biggest  Plot 2 is the biggest

In [23]:
print(text_maker.handle(df.prompt.iloc[270]))

**PROBLEM STATEMENT:
**

A "Point Spread" is a term used to in sports (and gambling) to describe the
difference between two teams' scores. For example, if one team scores 20
points and another team scores 30 points, the point spread is 10. A point
spread is always a positive number.

Write an algorithm that prompts the user for two sports game scores and
outputs the point spread.

**
EXAMPLE:**

Example 1 Example 2 Example 3
Input 8
15 89
103 42
14
Output 7 14 28

**Note: Output must match exactly.**

In [11]:
mkdown = md(df.prompt.iloc[200], code_language="python")
print(mkdown)
print(df.prompt.iloc[200])
mkdown

**PROBLEM STATEMENT:**


The Academy Athletic Director asked you are to write a program that will determine whether or not a football game in progress should be delayed based on current weather conditions. Your program will ask for the number of lightning strikes occurred in the immediate area in the past thirty minutes. It will then ask for the distance from Falcon Stadium to each lightning strike (in miles, which do not have to be whole numbers). Your program will keep track of how many lightning strikes are within 15 miles of the stadium (inclusive). Your program will then print one of the following statements:




|  |  |  |  |
| --- | --- | --- | --- |
| **# of lightning strikes in immediate area** | **0** | **1-3** | **>3** |
| **Output** | All Clear | Weather Warning | Game Delay |


**EXAMPLES:**




|  |  |  |
| --- | --- | --- |
|  | **Example 1** | **Example 2** |
| **INPUT** | 4
15.0
13.2
6.5
9.8 | 3
17.8
15.1
19.0
  |
| **OUTPUT** | Game Delay | All Clear |







<div>
<p>&nbsp;</p>
<p><strong>PROBLEM STATEMENT:<br /></strong></p>
<p>The Academy Athletic Director asked you are to write a program that will determine whether or not a football game in progress should be delayed based on current weather conditions. Your program will ask for the number of lightning strikes occurred in the immediate area in the past thirty minutes. It will then ask for the distance from Falcon Stadium to each lightning strike (in miles, which do not have to be whole numbers). Your program will keep track of how many lightning strikes are within 15 miles of the stadium (inclusive). Your program will then print one of the following statements:</p>
<table border="1" width="">
<tbody>
<tr>
<td><strong># of lightning strikes in immediate area</strong></td>
<td><strong>0</strong></td>
<td><strong>1-3</strong></td>
<td><strong>&gt;3</strong></td>
</tr>
<tr>
<td><strong>Output</strong></td>
<td>All Clear</td>
<td>Weather Warning</td>
<td>Game Delay</td>
</tr>
</tbody>
</table>
<p><strong>EXAMPLES:</strong></p>
<table border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td><strong>Example 1</strong></td>
<td><strong>Example 2</strong></td>
</tr>
<tr>
<td><strong>INPUT</strong></td>
<td>
<p>4</p>
<p>15.0</p>
<p>13.2</p>
<p>6.5</p>
<p>9.8</p>
</td>
<td>
<p>3</p>
<p>17.8</p>
<p>15.1</p>
<p>19.0</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td><strong>OUTPUT</strong></td>
<td>Game Delay</td>
<td>All Clear</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</div>

'\n\xa0\n\n\n**PROBLEM STATEMENT:**\n\n\nThe Academy Athletic Director asked you are to write a program that will determine whether or not a football game in progress should be delayed based on current weather conditions. Your program will ask for the number of lightning strikes occurred in the immediate area in the past thirty minutes. It will then ask for the distance from Falcon Stadium to each lightning strike (in miles, which do not have to be whole numbers). Your program will keep track of how many lightning strikes are within 15 miles of the stadium (inclusive). Your program will then print one of the following statements:\n\n\n\n\n|  |  |  |  |\n| --- | --- | --- | --- |\n| **# of lightning strikes in immediate area** | **0** | **1-3** | **>3** |\n| **Output** | All Clear | Weather Warning | Game Delay |\n\n\n**EXAMPLES:**\n\n\n\n\n|  |  |  |\n| --- | --- | --- |\n|  | **Example 1** | **Example 2** |\n| **INPUT** | 4\n15.0\n13.2\n6.5\n9.8 | 3\n17.8\n15.1\n19.0\n\xa0 |\n| **OUTPUT** | Game Delay | All Clear |\n\n\n\xa0\n\n\n\n'

In [12]:
from markdownify import MarkdownConverter

In [19]:
class TableConverter(MarkdownConverter):
    """
    Create a custom MarkdownConverter that adds two newlines after an image
    """
    def convert_table(self, el, text, convert_as_inline):
        tdf = pd.read_html(s)[0]
        tdf = tdf.fillna("")
        tdf = tdf.rename( columns={'Unnamed: 0':''})
        return tdf.to_string() # alternative tdf.to_csv(header=None)

# Create shorthand method for conversion
def md(html, **options):
    return TableConverter(**options).convert(html)

In [24]:
print(md(df.prompt.iloc[270], code_language="python"))

**PROBLEM STATEMENT:**


A "Point Spread" is a term used to in sports (and gambling) to describe the difference between two teams' scores. For example, if one team scores 20 points and another team scores 30 points, the point spread is 10. A point spread is always a positive number.


Write an algorithm that prompts the user for two sports game scores and outputs the point spread.

 **EXAMPLE:**


                 0                      1                      2
0        EXAMPLE 1              EXAMPLE 2
1           Inputs              35 0.25 1              150 1 2.2
2  Expected Output  Plot 3 is the biggest  Plot 2 is the biggest
**Note: Output must match exactly.**